[Desktop Entry]
StartupWMClass=cheese
X-SnapInstanceName=cheese
Name[ab]=Photo Booth
Name[af]=Photo Booth
Name[an]=Photo Booth
Name[ar]=Photo Booth
Name[as]=Photo Booth
Name[ast]=Photo Booth
Name[be]=Photo Booth
Name[be@latin]=Photo Booth
Name[bg]=Photo Booth
Name[bn]=Photo Booth
Name[bn_IN]=Photo Booth
Name[bs]=Photo Booth
Name[ca]=Photo Booth
Name[ca@valencia]=Photo Booth
Name[ckb]=Photo Booth
Name[cs]=Photo Booth
Name[da]=Photo Booth
Name[de]=Photo Booth
Name[dz]=Photo Booth
Name[el]=Photo Booth
Name[en_GB]=Photo Booth
Name[en@shaw]=Photo Booth
Name[eo]=Photo Booth
Name[es]=Photo Booth
Name[et]=Photo Booth
Name[eu]=Photo Booth
Name[fa]=Photo Booth
Name[fi]=Photo Booth
Name[fr]=Photo Booth
Name[fur]=Photo Booth
Name[ga]=Photo Booth
Name[gl]=Photo Booth
Name[gu]=Photo Booth
Name[he]=Photo Booth
Name[hi]=Photo Booth
Name[hr]=Photo Booth
Name[hu]=Photo Booth
Name[id]=Photo Booth
Name[ie]=Photo Booth
Name[is]=Photo Booth
Name[it]=Photo Booth
Name[ja]=Photo Booth
Name[ka]=Photo Booth
Name[kk]=Photo Booth
Name[km]=Photo Booth
Name[kn]=Photo Booth
Name[ko]=Photo Booth
Name[ku]=Photo Booth
Name[ky]=Photo Booth
Name[lo]=Photo Booth
Name[lt]=Photo Booth
Name[lv]=Photo Booth
Name[mjw]=Photo Booth
Name[mk]=Photo Booth
Name[ml]=Photo Booth
Name[mr]=Photo Booth
Name[ms]=Photo Booth
Name[nb]=Photo Booth
Name[nds]=Photo Booth
Name[ne]=Photo Booth
Name[nl]=Photo Booth
Name[nn]=Photo Booth
Name[oc]=Photo Booth
Name[or]=Photo Booth
Name[pa]=Photo Booth
Name[pl]=Photo Booth
Name[ps]=Photo Booth
Name[pt]=Photo Booth
Name[pt_BR]=Photo Booth
Name[ro]=Photo Booth
Name[ru]=Photo Booth
Name[sk]=Photo Booth
Name[sl]=Photo Booth
Name[sq]=Photo Booth
Name[sr]=Photo Booth
Name[sr@latin]=Photo Booth
Name[sv]=Photo Booth
Name[ta]=Photo Booth
Name[te]=Photo Booth
Name[tg]=Photo Booth
Name[th]=Photo Booth
Name[tr]=Photo Booth
Name[ug]=Photo Booth
Name[uk]=Photo Booth
Name[vi]=Photo Booth
Name[xh]=Photo Booth
Name[zh_CN]=Photo Booth
Name[zh_HK]=Photo Booth
Name[zh_TW]=Photo Booth
Name[zu]=Photo Booth
Name=Photo Booth
GenericName[ab]=Афото ҿхышә
GenericName[af]=Webkamera Hokkie
GenericName[an]=Fotomatón de camara web
GenericName[ar]=غرفة كمرة الوب
GenericName[be]=Фотавідэабудан
GenericName[bg]=Снимки с камерата
GenericName[ca]=Cabina de fotografia
GenericName[ca@valencia]=Cabina de fotografia
GenericName[cs]=Fotobudka
GenericName[da]=Webkamerastand
GenericName[de]=Webcam-Automat
GenericName[el]=Δικτυακή κάμερα
GenericName[en_GB]=Webcam Booth
GenericName[eo]=Retfilmilo-Budo
GenericName[es]=Fotomatón de cámara web
GenericName[et]=Veebikaamera kabiin
GenericName[eu]=Web-kameraren kabina
GenericName[fa]=باجهٔ وب‌کم
GenericName[fi]=Valokuvakoppi
GenericName[fr]=Studio webcam
GenericName[fur]=Gabiot par webcam
GenericName[gl]=Fotomatón de cámara web
GenericName[gu]=વેબકેમ બુથ
GenericName[he]=תא צילום
GenericName[hi]=वेबकैम बूथ
GenericName[hr]=Web kamera
GenericName[hu]=Webkamera-kezelő
GenericName[id]=Pojok Webkam
GenericName[ie]=Webcam bude
GenericName[is]=Vefmyndavélasjálfsali
GenericName[it]=Cabina per webcam
GenericName[ja]=ウェブカムブース
GenericName[ka]=ვებკამერის ბუტიკი
GenericName[kk]=Вебкамера қолданбасы
GenericName[ko]=웹카메라 사진 찍기
GenericName[lo]=ບູດເວັບແຄມ
GenericName[lt]=Internetinės kameros programa
GenericName[lv]=Foto būdiņa
GenericName[ml]=വെബ്കാം ബൂത്ത്
GenericName[ms]=Pondok Kamera Sesawang
GenericName[nb]=Webkamera
GenericName[ne]=वेबक्याम बुथ
GenericName[nl]=Webcamstudio
GenericName[oc]=Studio webcam
GenericName[pa]=ਵੈੱਬ-ਕੈਮ ਬੂਥ
GenericName[pl]=Obsługa kamer
GenericName[pt]=Cabine de câmara web
GenericName[pt_BR]=Cabine de webcam
GenericName[ro]=Cabina camerei web Cheese
GenericName[ru]=Фотовидеобудка
GenericName[sk]=Fotobúdka z webovej kamery
GenericName[sl]=Foto kabina Booth
GenericName[sr]=Фоторадња
GenericName[sr@latin]=Fotoradnja
GenericName[sv]=Webbkamerabås
GenericName[ta]=சீஸ் வெப்கேம் பூத்
GenericName[th]=บูทเว็บแคม
GenericName[tr]=Web Kamerası Standı
GenericName[uk]=Кабінка
GenericName[vi]=Trang chủ Webcam
GenericName[zh_CN]=大头贴
GenericName[zh_TW]=攝影小鋪
GenericName=Webcam Booth
Comment[af]=Neem foto's en video's met die webkamera, met oulike grafiese effekte
Comment[an]=Fe fotos y videos con a suya camara web, con divertius efectos graficos
Comment[ar]=التقط صور وفيديوهات من كمرة الوب، مع مؤثرات رسومية ممتعة
Comment[as]=ৱেবকেমৰ সহায়ত আমোদময় গ্ৰাফিক্সসহ ফ'টো লওক আৰু ভিডিঅ' তৈয়াৰ কৰক
Comment[ast]=Tome semeyes y vídeos cola so cámara web, con divertíos efeutos gráficos
Comment[be]=Фота- і відэаздымка праз вэб-камеру з цікавымі графічнымі эфектамі
Comment[be@latin]=Rabi zdymki j videa sa svajoj web-kamery, ź cikavymi hrafičnymi efektami
Comment[bg]=Заснeмане на снимки и видео с вашата уеб камера и прилагане на ефекти
Comment[bn]=ওয়েবক্যামের সাহায্যে মজাদার গ্রাফিক্সের আবহসহ ফটো তুলুন ও ভিডিও তৈরি করুন
Comment[bn_IN]=ওয়েবক্যামের সাহায্যে মজাদার গ্র্যাফিক্স সহ ফটো তুলুন ও ভিডিও তৈরি করুন
Comment[bs]=Snimite fotografije i video snimke sa vasom web kamerom, uz zabavnim grafičkim efektima
Comment[ca]=Feu fotos i vídeos amb la càmera web, amb efectes gràfics divertits
Comment[ca@valencia]=Feu fotos i vídeos amb la càmera web, amb efectes gràfics divertits
Comment[ckb]=وێنە بگرە بە وێبکامەکەت، کە کاریگەری وێنەی خۆشی لەگەڵدا بێت
Comment[cs]=Pořizujte pomocí webové kamery obrázky a videoklipy se zábavnými grafickými efekty
Comment[da]=Tag billeder og optag video fra dit webkamera, med sjove grafiske effekter
Comment[de]=Ein Programm, um Bilder und Videos mit einer Webcam aufzunehmen und lustige graphische Effekte hinzuzufügen
Comment[el]=Τραβήξτε φωτογραφίες και βίντεο από την δικτυακή σας κάμερα, με διασκεδαστικά γραφικά εφέ
Comment[en_GB]=Take photos and videos with your webcam, with fun graphical effects
Comment[en@shaw]=𐑑𐑱𐑒 𐑓𐑴𐑑𐑴𐑟 𐑯 𐑝𐑦𐑛𐑰𐑴𐑟 𐑢𐑦𐑞 𐑿𐑼 𐑢𐑧𐑚𐑒𐑨𐑥, 𐑢𐑦𐑞 𐑓𐑳𐑯 𐑜𐑮𐑨𐑓𐑦𐑒𐑩𐑤 𐑦𐑓𐑧𐑒𐑑𐑕
Comment[eo]=Fari fotojn kaj videojn per via retfilmilo, kun gajaj grafikaj efektoj
Comment[es]=Tome fotografías y vídeos con su cámara web, con divertidos efectos gráficos
Comment[et]=Veebikaamerast fotode ja videote salvestamine, ka koos graafiliste efektidega
Comment[eu]=Atera argazkiak eta bideoak web-kameratik, efektu grafiko dibertigarriekin
Comment[fa]=گرفتن عکس و ویدیو با وب‌کمتان به همراه جلوه‌های جذاب گرافیکی
Comment[fi]=Ota valokuvia ja videoita web-kamerallasi hauskojen tehosteiden kera
Comment[fr]=Prise de photos et enregistrement de vidéos grâce à votre webcam avec effets graphiques rigolos
Comment[fur]=Fâs fotos e videos cun la tô webcam, cun efiets grafics legris
Comment[ga]=Tóg grianghraif agus físeáin le do cheamara gréasáin, le maisíochtaí grafacha greannmhara
Comment[gl]=Saque fotografías e vídeos coa súa cámara web, con efectos gráficos divertidos
Comment[gu]=- તમારા વેબકેમમાંથી ફોટાઓ અને વીડિયો લો, ગ્રાફિકલ અસરો સાથે આનંદ મેળવો
Comment[he]=צילום תמונות וסרטים בעזרת מצלמת האינטרנט שלך והוספת אפקטים גרפיים משעשעים
Comment[hi]=अपने वेबकैम से तस्वीर व वीडियो लें, मजेदार आलेखी प्रभाव के साथ
Comment[hr]=Napravite fotografije i snimke pomoću vaše web kamere, uz šarolike grafičke efekte
Comment[hu]=Képek készítése és videók felvétele webkamerával, vicces grafikai effektusokkal
Comment[id]=Ambil foto dan video dengan webkam Anda, dengan efek grafis yang menarik
Comment[is]=Taka myndir og myndskeið með vefmyndavélinni, með skemmtilegum myndrænum brellum
Comment[it]=Scatta fotografie e registra video con la webcam applicando divertenti effetti grafici
Comment[ja]=ウェブカムでエフェクトをつけた楽しい写真やビデオを撮ります
Comment[ka]=გადაიღეთ სურათები და ვიდეოები თქვენი ვებკამერით და დაადეთ სასაცილო გრაფიკული ეფექტები
Comment[kk]=Вебкамераңыздан фото мен видеоларды түсіру, графикалық эффектерді қолданып
Comment[km]=ថតរូប និង​វីដេអូ​ជាមួយ​វិបខេម​របស់​អ្នក ដោយ​មាន​បែបផែន​ក្រាហ្វិក
Comment[kn]=ನಿಮ್ಮ ವೆಬ್‌ಕ್ಯಾಮ್‌ ಅನ್ನು ಬಳಸಿಕೊಂಡು ತಮಾಷೆಯ ಗ್ರಾಫಿಕಲ್ ಪರಿಣಾಮಗಳೊಂದಿಗೆ ಚಿತ್ರಗಳನ್ನು ಹಾಗು ವಿಡಿಯೋಗಳನ್ನು ತೆಗೆಯಿರಿ
Comment[ko]=웹카메라에서 사진과 비디오를 찍고, 재미있는 그래픽 효과를 사용할 수도 있습니다
Comment[ku]=Bi webcama xwe wêne û vîdyoyan bikişînin, bi efektên seyr.
Comment[ky]=Шайыр графикалык эффекттерди колдонуп, веб-камера менен фотографияларды жана видеолорду жасоо
Comment[lo]=ຖ່າຍຮູບ ແລະ ວິດີໂອດ້ວຍເວັບແຄມຂອງທ່ານ ພ້ອມກັບໃສ່ລູກຫລີ້ນທີ່ຫນ້າຮັກ
Comment[lt]=Fotografuokite ir filmuokite internetine kamera, naudokite smagius efektus
Comment[lv]=Uzņemiet fotogrāfijas un video ar savu tīmekļa kameru ar jautriem efektiem
Comment[mk]=Сликајте фотографии и снимајте видеа од Вашата веб камера, со забавни графички ефекти
Comment[ml]=നിങ്ങളുടെ വെബ്കാം ഉപയോഗിച്ചു് നല്ല രസമുള്ള ഗ്രാഫിക്കല്‍ പ്രഭാവങ്ങളോടുകൂടിയ ചിത്രങ്ങളും ചലച്ചിത്രങ്ങളും എടുക്കുക
Comment[mr]=चित्रलेखीय प्रभावांसह, वेबकॅमेऱ्यातून छायाचित्र व चलचित्र घ्या
Comment[ms]=Tangkap foto dan video menggunakan kamera sesawang anda, dengan kesan grafik yang menyeronokkan
Comment[nb]=Ta bilder og ta opp video fra ditt webkamera med morsomme effekter
Comment[ne]=तपाईँको वेबक्यामले रमाइला ग्राफिक प्रभाव सहितका फोटो र भिडियो लिनुहोस्
Comment[nl]=Maak foto’s en video’s met een webcam, met leuke visuele effecten
Comment[nn]=Ta bilete og ta opp filmar med morosame effektar med nettkameraet ditt
Comment[oc]=Prenètz de fotografias e de vidèos amb vòstra webcam amb d'efièits grafics risolièrs
Comment[or]=ଆପଣଙ୍କ ୱେବକ୍ୟାମ ସାହାଯ୍ୟରେ ଆଲୋକଚିତ୍ର ଏବଂ ଚଳଚିତ୍ର ନିଅନ୍ତୁ, ମଜାଳିଆ ଗ୍ରାଫିକାଲ ପ୍ରଭାବ ସହିତ
Comment[pa]=ਆਪਣੇ ਵੈੱਬ-ਕੈਮ ਨਾਲ ਫੋਟੋ ਲਵੋ ਅਤੇ ਵਿਡੀਓ ਬਣਾਓ ਅਤੇ ਗਰਾਫਿਕਸ ਪਰਭਾਵ ਨਾਲ ਮੌਜਾਂ ਲੁੱਟੋ
Comment[pl]=Robienie zdjęć i nagrywanie filmów z zabawnymi efektami za pomocą kamery internetowej
Comment[ps]=په خپل ګورتکېم باندې انځورونه او وېډيوګانې جوړې کړﺉ، د کښنيزو اغېزو سره
Comment[pt]=Tire fotografias e grave vídeos, com efeitos gráficos divertidos, na sua câmera Web
Comment[pt_BR]=Tire fotos e vídeos com sua webcam, com efeitos gráficos divertidos
Comment[ro]=Faceți poze și filme cu camera web, folosind efect grafice nostime
Comment[ru]=Создание фотографий и видео с помощью веб-камеры, c применением занятных эффектов
Comment[sk]=Sníma fotografie a natáča videá vašou webovou kamerou, so zábavnými grafickými efektami
Comment[sl]=Zajemanje in obdelava posnetkov s spletno kamero z veliko grafičnimi učinki
Comment[sq]=Bëj foto dhe regjistro video me kamerën tënde web, me efekte të këndshme grafike.
Comment[sr]=Направите фотке и снимке вашом веб камерицом, уз забавне ефекте
Comment[sr@latin]=Napravite fotke i snimke vašom veb kamericom, uz zabavne efekte
Comment[sv]=Ta foton och videor med din webbkamera med roliga grafiska effekter
Comment[ta]=வெப்கேம் மூலம் வேடிக்கையான வரைகலை விளைவுகளுடன் போட்டோ மற்றும் வீடீயோ எடுங்கள்
Comment[te]=సరదా గ్రాఫికల్ ప్రభావాలను వాడి వెబ్‌క్యామ్‌తో ఫోటోలను మరియు వీడియోలను తీయండి
Comment[tg]=Суратҳо ва видеоҳоро тавассути вебкамераи худ бо истифодаи таъсирҳои графикӣ сабт намоед.
Comment[th]=ถ่ายภาพและวีดิทัศน์จากเว็บแคมของคุณ พร้อมใส่ลูกเล่นสนุกๆ
Comment[tr]=Web kameranızdan fotoğraflar ve videolar çekip bunlara görsel etkiler ekler.
Comment[ug]=ۋېبكامېرا ئارقىلىق سىن ۋە سۈرەتلەرنى تارتىش بىلەن بىرگە ئۇنىڭغا قىزىقارلىق گرافىكىلىق ئۈنۈملەرنى قوشۇش پروگراممىسى
Comment[uk]=Створення фотографій та відео за допомогою веб-камери, із використанням цікавих ефектів
Comment[vi]=Chụp ảnh và quay phim dùng webcam, thêm các hiệu ứng đồ họa thú vị
Comment[xh]=Thatha imifanekiso yakho ngekhamera yekhompuyutha, enotshintsho olonwabisayo
Comment[zh_CN]=使用摄像头拍照或录像，并加上有趣的图像效果
Comment[zh_HK]=從你的網絡攝影機擷取相片與影片，並加入有趣的圖片特效
Comment[zh_TW]=從您的網路攝影機擷取相片與影片，並加入有趣的影像特效
Comment[zu]=Thwebula izithombe kanye namavidiyo nge-webcam yakho, enemiphumela ejabulisayo yombukiso
Comment=Take photos and videos with your webcam, with fun graphical effects
Keywords[ab]=афото;авидео;ваеб-камера;акамера; селфи;
Keywords[be]=фота;фатаграфія;відэа;запіс;вэб-камера;сеціўная камера;сэлфі;здымак;здымкі;
Keywords[bg]=photo;video;webcam;camera;selfie;фото;фотографии;снимки;видео;клип;камера;селфи;
Keywords[ca]=foto;vídeo;càmera web;càmera;autofoto;
Keywords[cs]=fotka;fotky;snímek;snímky;video;webkamera;webová kamera;kamera;selfie;selfíčko;
Keywords[da]=billede;foto;video;webcam;webkamera;kamera;selfie;
Keywords[de]=Foto;Video;Webcam;Kamera;Selfie;
Keywords[el]=φωτογραφία;βίντεο;δικτυακή κάμερα;κάμερα;selfie;photo;video;webcam;camera;selfie;
Keywords[en_GB]=photo;video;webcam;camera;selfie;
Keywords[es]=foto;vídeo;cámara web;cámara;selfie;
Keywords[eu]=argazkia;bideoa;bideokamera;kamera;selfiea;
Keywords[fa]=photo;video;webcam;camera;selfie;عکس;ویدیو;وب‌کم;وبکم;
Keywords[fi]=photo;video;webcam;valokuva;camera;selfie;verkkokamera;web-kamera;kuva;
Keywords[fr]=photo;vidéo;webcam;caméra;autoportrait;selfie;
Keywords[fur]=foto;video;webcam;cjamare;autoscat;selfie;
Keywords[gl]=foto;vídeo;cámara web;cámara;selfie;
Keywords[he]=תמונה;צילום;מצלמה;וידאו;סרט;הקלטה;תצלום;מצלמת וידאו;צילום עצמי;סלפי;
Keywords[hi]=photo;video;webcam;camera;selfie;
Keywords[hr]=fotografija;snimka;web kamera;selfi;
Keywords[hu]=fénykép;videó;webkamera;kamera;szelfi;
Keywords[id]=foto;video;webcam;kamera;swafoto;
Keywords[ie]=foto;video;webcam;cámera;self;
Keywords[is]=mynd;ljósmynd;myndskeið;vefmyndavél;myndavél;sjálfsmynd;
Keywords[it]=foto;video;webcam;fotocamera;selfie;
Keywords[ja]=photo;video;webcam;camera;selfie;フォト;写真;ビデオ;動画;ウェブカム;ウェブカメラ;カメラ;セルフィー;自撮り;movie;ムービー;
Keywords[ka]=photo;video;webcam;camera;selfie;
Keywords[kk]=photo;video;webcam;camera;selfie;фото;видео;вебкамера;камера;селфи;
Keywords[ko]=photo;사진;video;비디오;영상;webcam;웹캠;웹카메라;캠;selfie;셀카;
Keywords[lo]=ຮູບພາບ;ວິດີໂອ;ເວັບແຄມ;ກ້ອງ;ເຊລຟີ;
Keywords[lt]=fotografija;vaizdas;internetinė;kamera;asmenukė;
Keywords[lv]=foto;video;tīmekļa kamera;kamera;pašiņš;
Keywords[nb]=foto;video;webkamera;kamera;selfie;
Keywords[ne]=तस्वीर;भिडियो;वेवक्याम;क्यामेरा;सेलफिइ;
Keywords[nl]=photo;foto;video;webcam;camera;selfie;film;
Keywords[oc]=fòto;vidèo;webcam;selfi;photo;
Keywords[pa]=ਤਸਵੀਰ;ਫੋਟੋ;ਵਿਡੀਓ;ਵੈਬਕੈਮ;ਕੈਮਰਾ;ਸੈਲਫੀ;ਵੀਡੀਓ;
Keywords[pl]=zdjęcie;aparat;fotograficzny;fotografia;film;wideo;video;webcam;kamera;kamerka;efekty;selfie;selfik;
Keywords[pt]=fotografia;vídeo;webcam;camera;selfie;
Keywords[pt_BR]=fotos;photos;vídeos;webcam;câmera;selfie;autorretrato;
Keywords[ro]=photo;video;webcam;camera;selfie;foto;cameră web;poze;
Keywords[ru]=фото;видео;веб-камера;камера; селфи;
Keywords[sk]=fotka;fotografia;video;webová kamera;selfie;svojka;
Keywords[sl]=fotografija;video;spletne kamere;slike;posnetki;selfi;foto;
Keywords[sr]=фото;видео;слике;снимак;веб камерица;камера;селфи;foto;slike;snimak;veb kamerica;kamera;photo;video;webcam;camera;selfie;
Keywords[sv]=foto;video;webbkamera;kamera;selfie;
Keywords[tr]=fotoğraf;video;görüntü;web kamerası;webcam;kamera;özçekim;selfie;
Keywords[uk]=photo;video;webcam;camera;selfie;фото;відео;вебкамера;камера;селфі;
Keywords[vi]=photo;chụp;chup;ảnh;anh;video;quay;phim;webcam;camera;selfie;
Keywords[zh_CN]=photo;video;webcam;camera;selfie;视频;摄像头;拍照;相机;自拍;
Keywords[zh_TW]=photo;video;webcam;camera;selfie;相片;影片;網路攝影機;攝像;照相;自拍;
Keywords=photo;video;webcam;camera;selfie;
X-SnapAppName=cheese
Exec=/snap/bin/cheese
Terminal=false
Type=Application
StartupNotify=true
Icon=cheese
Categories=GNOME;AudioVideo;Video;Recorder;

