[Desktop Entry]
Type=Application
Name=Flameshot
Comment=Powerful yet simple-to-use screenshot software
Icon=flameshot
Exec=flameshot gui
Terminal=false
Categories=Graphics;Photography;Utility;
Keywords=screenshot;snip;capture;
StartupNotify=true
